.table-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background: linear-gradient(
    90deg,
    rgba(246, 246, 246, 1) 0%,
    rgba(230, 230, 230, 1) 30%,
    rgba(240, 243, 244, 1) 100%
  );
  border: 1px solid #d1d1d1;
  border-radius: 20px;
  padding: 40px 0;
  -webkit-box-shadow: 1px 6px 77px -12px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 1px 6px 77px -12px rgba(34, 60, 80, 0.15);
  box-shadow: 1px 6px 77px -12px rgba(34, 60, 80, 0.15);

}
